.grid-container {
  //max-width: $grid-width;
  display: grid;
  margin: 0 auto;

  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem;
 // margin-bottom: $gutter-vertical;
 // margin-right: $gutter-horizontal;
  &--item {
    padding: 0 2rem;
  }
}

