.grid-container {
  display: grid;
  margin: 0 auto;

  //grid-template-columns: repeat(4, 1fr);
 // grid-template-rows: repeat(4, 1fr);

  grid-column-gap: 4rem;

  &--item {
    padding: 0 2rem;
  }
}

