@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*default size for 10px and user can change it*/
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: whitesmoke;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveInLeft 2s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 2s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #3b8c99, #6b6b83, #aa4b6b);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.hyf:link, .hyf:visited {
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  font-weight: bold; }

.hyf:hover, .hyf:active {
  color: #3b8c99;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-quaternary {
  font-size: 1.6rem;
  text-align: center;
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase; }
  .heading-quaternary:hover {
    color: #3b8c99; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.card-back-btn:link, .card-back-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 2rem;
  display: block;
  transition: all .2s;
  font-size: 1.6rem;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  margin: auto;
  margin-top: 2rem; }

.card-back-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.card-back-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative; }
  @media (max-width: 75em) {
    .composition {
      padding: 0 3rem; } }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .2s;
    outline-offset: 1rem; }
    @media (max-width: 75em) {
      .composition__photo {
        margin-top: 6rem;
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 20%;
      top: 2rem; }
      @media (max-width: 75em) {
        .composition__photo--p1 {
          top: 1rem;
          -webkit-transform: scale(1.2);
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 75em) {
        .composition__photo--p2 {
          top: -2rem;
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
          z-index: 25; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 75em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          -webkit-transform: scale(1.25);
          transform: scale(1.25); } }
    .composition__photo:hover {
      outline: 1rem solid #3b8c99;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 2; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20rem;
  list-style-type: none; }
  @media (max-width: 75em) {
    .skills-container {
      margin: 0 5rem; } }

.skill-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  margin: 2rem;
  max-width: 25rem;
  min-width: 20rem;
  min-height: 37rem;
  max-height: 50rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  position: relative; }
  @media (max-width: 37.5em) {
    .skill-box {
      max-width: 35rem;
      min-width: 30rem; } }
  .skill-box:hover {
    transform: translateY(-1.5rem) scale(1); }
  .skill-box__text {
    text-decoration: none; }

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .projects-container__col {
    margin: 0 3rem; }
    @media (max-width: 56.25em) {
      .projects-container__col {
        margin: 2rem 3rem; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  min-width: 30rem;
  margin-bottom: 8rem;
  margin-right: 4rem;
  margin-left: 4rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12); }
  .card__side {
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    list-style: none; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #6b6b83, #aa4b6b); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #6b6b83, #aa4b6b), url(./img/game-of-life.png); }
    .card__picture--2 {
      background-image: url(./img/weather-app.png); }
    .card__picture--3 {
      background-image: url(./img/tetris.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #777;
    padding: 1rem 1.5rem;
    text-align: center; }
  .card__details {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 3rem; }
  .card__back-heading {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #fff; }
  .card__back-list {
    position: relative; }
    .card__back-list ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__back-list li {
      text-align: center;
      font-size: 1.7rem;
      padding: 1rem;
      position: relative; }
  .card .card-back-heading {
    color: rgba(238, 238, 238, 0.8);
    text-transform: uppercase;
    line-height: 1.3; }
    .card .card-back-heading--main {
      display: block;
      font-size: 2rem;
      font-weight: 700; }
    .card .card-back-heading--sub {
      display: block;
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      position: relative; }
      .card .card-back-heading--sub:after {
        background-color: #eee;
        bottom: -0.5rem;
        content: "";
        display: block;
        height: 0.1rem;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        width: 5rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      min-height: 100rem;
      max-width: 40rem;
      margin-bottom: 20rem;
      position: relative; }
      .card__side {
        position: relative;
        top: 0;
        left: 0;
        border-radius: 3px; }
        .card__side--front {
          height: auto;
          margin-top: 1rem;
          background-blend-mode: overlay;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 91%, 0% 100%); }
        .card__side--back {
          margin-top: -5rem;
          height: 60rem;
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 91%, 0% 100%);
          clip-path: polygon(0 9%, 100% 0%, 100% 91%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        margin: 2rem 3rem;
        margin-bottom: 10rem;
        font-size: 1.6rem; }
      .card__back-heading {
        margin-top: 8rem;
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: #fff; }
      .card__back-list {
        position: relative;
        top: 0;
        left: 0;
        width: 100%; }
        .card__back-list ul {
          margin: 0 auto; }
        .card__back-list li {
          font-size: 1.7rem; }
      .card .card-back-heading {
        color: rgba(238, 238, 238, 0.8);
        text-transform: uppercase;
        line-height: 1.3; }
        .card .card-back-heading--main {
          display: block;
          font-size: 2rem;
          font-weight: 700; }
        .card .card-back-heading--sub {
          display: block;
          font-size: 1.5rem;
          font-weight: 400;
          margin-bottom: 0.5rem;
          position: relative; }
          .card .card-back-heading--sub:after {
            background-color: #eee;
            bottom: -0.5rem;
            content: "";
            display: block;
            height: 0.1rem;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0);
            width: 5rem; } }

.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem;
    margin-top: 4rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .footer-container__items {
    margin: 0 3rem;
    text-align: center; }
  .footer-container__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer-container__list {
    list-style: none; }
  .footer-container__item {
    display: inline-block; }
    .footer-container__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer-container__link:link, .footer-container__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer-container__link:hover, .footer-container__link:active {
    color: #3b8c99;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer-container__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    display: inline-block;
    text-align: left; }

.contact {
  display: flex;
  margin: 20px auto 40px;
  color: white;
  flex-flow: row wrap;
  justify-content: space-around; }
  .contact__table {
    display: table;
    max-width: 100%;
    line-height: 1.5; }
  .contact__row {
    display: table-row; }
  .contact__cell {
    display: table-cell;
    padding: 10px; }

.grid-container {
  max-width: 114rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem; }
  @media (max-width: 75em) {
    .grid-container {
      grid-template-columns: 1fr; } }
  .grid-container--item {
    padding: 0 2rem; }
    @media (max-width: 75em) {
      .grid-container--item {
        margin: 0 5rem 5rem 5rem; } }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(59, 140, 153, 0.6), rgba(107, 107, 131, 0.8), rgba(170, 75, 107, 0.6));
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*&__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  
  &__logo {
    height: 5.5rem;
  }*/ }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/*.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    background-color: $color-white;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;

    //transform: scale(80);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    
  }

  &__list {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

 &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        110deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;
      display: inline-block;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
}*/
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 112.5em) {
    .section-about {
      padding: 20rem 0 25rem 0; } }
  @media (max-width: 75em) {
    .section-about {
      padding: 20rem 0 30rem 0; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 20rem 0 25rem 0; } }

.section-skills {
  padding: 15rem 0;
  background-image: linear-gradient(to right, rgba(59, 140, 153, 0.6), rgba(107, 107, 131, 0.8), rgba(170, 75, 107, 0.6));
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-skills > * {
    transform: skewY(7deg); }

.section-projects {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -10rem; }
  @media (max-width: 75em) {
    .section-projects {
      padding: 20rem 0 0 0; } }
